.html
{
	background-color: #1B1464;
	background: -webkit-gradient(linear, center top, center bottom, from(#1B1464),color-stop(100%, #FFFF00));
	background: -webkit-linear-gradient(top,#1B1464 ,#FFFF00 100%);
	background: -moz-linear-gradient(top,#1B1464 ,#FFFF00 100%);
	background: -ms-linear-gradient(top,#1B1464 ,#FFFF00 100%);
	background: -o-linear-gradient(top,#1B1464 ,#FFFF00 100%);
	background: linear-gradient(to bottom,#1B1464 ,#FFFF00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF1B1464, endColorstr=#FFFFFF00, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1B1464', endColorstr='#FFFFFF00', GradientType=0)";
}

#page
{
	z-index: 1;
	width: 920px;
	min-height: 418px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #F4F9ED;
	background-color: rgba(140, 198, 63, 0.09);
	margin-left: auto;
	margin-right: auto;
	padding: 20px 20px 62px;
}

#u189
{
	z-index: 2;
	width: 202px;
	margin-right: -10000px;
	left: 718px;
}

#u390-12
{
	z-index: 83;
	width: 536px;
	min-height: 86px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 241px;
}

#u406
{
	z-index: 95;
	width: 300px;
	margin-right: -10000px;
}

#u414-6
{
	z-index: 97;
	width: 183px;
	min-height: 47px;
	margin-right: -10000px;
}

#u415-3
{
	z-index: 103;
	width: 5px;
	margin-right: -10000px;
	margin-top: 59px;
	left: 178px;
}

#menuu194
{
	z-index: 4;
	width: 903px;
	margin-top: 11px;
}

#u195
{
	width: 118px;
	min-height: 34px;
	margin-right: -10000px;
}

#u198
{
	width: 118px;
	padding-bottom: 17px;
}

#u198:hover
{
	margin: 0px;
}

#u198:active
{
	margin: 0px;
}

#u199-4
{
	width: 39px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 39px;
}

#u198:hover #u199-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u198:active #u199-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u219
{
	width: 176px;
	min-height: 34px;
	margin-right: -10000px;
	left: 120px;
}

#u220
{
	width: 176px;
	padding-bottom: 17px;
}

#u198.MuseMenuActive,#u220:hover
{
	margin: 0px;
}

#u220:active
{
	margin: 0px;
}

#u222-4
{
	width: 97px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 39px;
}

#u198.MuseMenuActive #u199-4,#u220:hover #u222-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u220:active #u222-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u237
{
	width: 139px;
	min-height: 34px;
	margin-right: -10000px;
	left: 298px;
}

#u238
{
	width: 139px;
	padding-bottom: 17px;
}

#u220.MuseMenuActive,#u238:hover
{
	margin: 0px;
}

#u238:active
{
	margin: 0px;
}

#u240-4
{
	width: 61px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 39px;
}

#u220.MuseMenuActive #u222-4,#u238:hover #u240-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u238:active #u240-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u244
{
	width: 146px;
	min-height: 34px;
	margin-right: -10000px;
	left: 439px;
}

#u247
{
	width: 146px;
	padding-bottom: 17px;
}

#u238.MuseMenuActive,#u247:hover
{
	margin: 0px;
}

#u247:active
{
	margin: 0px;
}

#u249-4
{
	width: 54px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 39px;
}

#u238.MuseMenuActive #u240-4,#u247:hover #u249-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u247:active #u249-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u250
{
	z-index: 29;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 93px;
}

#u247:hover #u250
{
	margin: 0px -10000px 0px 0px;
}

#u247:active #u250
{
	margin: 0px -10000px 0px 0px;
}

#u331
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u331:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u333-4
{
	width: 44px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 33px;
}

#u341
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u331.MuseMenuActive,#u341:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u344-4
{
	width: 51px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 29px;
}

#u350
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u341.MuseMenuActive,#u350:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u351-4
{
	width: 38px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 36px;
}

#u357
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u350.MuseMenuActive,#u357:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u358-4
{
	width: 55px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 27px;
}

#u251
{
	width: 154px;
	min-height: 34px;
	margin-right: -10000px;
	left: 587px;
}

#u252
{
	width: 154px;
	padding-bottom: 17px;
}

#u247.MuseMenuActive,#u252:hover
{
	margin: 0px;
}

#u252:active
{
	margin: 0px;
}

#u254-4
{
	width: 62px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 39px;
}

#u247.MuseMenuActive #u249-4,#u252:hover #u254-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u252:active #u254-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u255
{
	z-index: 62;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 101px;
}

#u247.MuseMenuActive #u250,#u252:hover #u255
{
	margin: 0px -10000px 0px 0px;
}

#u252:active #u255
{
	margin: 0px -10000px 0px 0px;
}

#u252.MuseMenuActive #u255
{
	margin: 0px -10000px 0px 0px;
}

#u245,#u256
{
	width: 120px;
	top: 34px;
}

#u362
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u357.MuseMenuActive,#u362:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u364-4
{
	width: 60px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 25px;
}

#u246,#u330,#u340,#u347,#u354,#u257,#u361,#u371
{
	width: 120px;
}

#u372
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u362.MuseMenuActive,#u372:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u372.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u374-4
{
	width: 49px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 30px;
}

#u258
{
	width: 160px;
	min-height: 34px;
	margin-right: -10000px;
	left: 743px;
}

#u261
{
	width: 160px;
	padding-bottom: 17px;
}

#u252.MuseMenuActive,#u261:hover
{
	margin: 0px;
}

#u261:active
{
	margin: 0px;
}

#u261.MuseMenuActive
{
	margin: 0px;
}

#u262-4
{
	width: 82px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 39px;
}

#u252.MuseMenuActive #u254-4,#u261:hover #u262-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u261:active #u262-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u261.MuseMenuActive #u262-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#pamphletu1799
{
	z-index: 106;
	width: 0.01px;
	height: 592px;
	padding-bottom: 13px;
	margin-left: 114px;
	margin-top: 21px;
	position: relative;
}

#u1820
{
	z-index: 107;
	width: 249px;
	position: relative;
	margin-right: -10000px;
	margin-top: 572px;
	left: 40px;
}

#u1821
{
	position: absolute;
	width: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #006837;
	padding-bottom: 13px;
	top: -12px;
	left: -9px;
}

#u1821:hover
{
	border-color: #6B6B6B;
	background-color: #006837;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u1821:active
{
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u1822-4
{
	z-index: 109;
	width: 40px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	text-align: center;
	color: #C4C4C4;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 8px;
}

#u1821:hover #u1822-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 11px -10000px 0px 0px;
}

#u1821:active #u1822-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 11px -10000px 0px 0px;
}

#u1821:hover #u1822-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u1821:active #u1822-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1825
{
	position: absolute;
	width: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #006837;
	padding-bottom: 13px;
	top: -12px;
	left: 60px;
}

#u1825:hover
{
	border-color: #6B6B6B;
	background-color: #006837;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u1825:active
{
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u1826-4
{
	z-index: 114;
	width: 40px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #C4C4C4;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 9px;
}

#u1821.PamphletThumbSelected #u1822-4,#u1825:hover #u1826-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 11px -10000px 0px 0px;
}

#u1825:active #u1826-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 11px -10000px 0px 0px;
}

#u1825.PamphletThumbSelected #u1826-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 11px -10000px 0px 0px;
}

#u1825:hover #u1826-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u1821.PamphletThumbSelected #u1822-4 p,#u1825:active #u1826-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1848
{
	position: absolute;
	width: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #006837;
	padding-bottom: 12px;
	top: -12px;
	left: 130px;
}

#u1848:hover
{
	border-color: #6B6B6B;
	background-color: #006837;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u1848:active
{
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u1975-4
{
	z-index: 119;
	width: 40px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #C4C4C4;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 9px;
}

#u1848:hover #u1975-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u1848:active #u1975-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u1848.PamphletThumbSelected #u1975-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u1848:hover #u1975-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u1825.PamphletThumbSelected #u1826-4 p,#u1848:active #u1975-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1957
{
	position: absolute;
	width: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #006837;
	padding-bottom: 12px;
	top: -12px;
	left: 199px;
}

#u1957:hover
{
	border-color: #6B6B6B;
	background-color: #006837;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u1957:active
{
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u1821.PamphletThumbSelected,#u1825.PamphletThumbSelected,#u1848.PamphletThumbSelected,#u1957.PamphletThumbSelected
{
	border-color: #6B6B6B;
	background-color: #1B1464;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u1976-4
{
	z-index: 124;
	width: 40px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #C4C4C4;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 9px;
}

#u1957:hover #u1976-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u1957:active #u1976-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u1957.PamphletThumbSelected #u1976-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u1957:hover #u1976-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u1848.PamphletThumbSelected #u1975-4 p,#u1957:active #u1976-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1957.PamphletThumbSelected #u1976-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1800
{
	position: absolute;
	width: 663px;
}

#u1800popup
{
	z-index: 128;
}

#u1801
{
	z-index: 129;
	width: 654px;
	height: 525px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 18px;
	padding-right: 9px;
	margin-right: -10000px;
	position: relative;
}

#u1802-9
{
	z-index: 130;
	width: 580px;
	min-height: 60px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1802-2
{
	font-size: 18px;
	line-height: 22px;
	color: #FCEE21;
	font-weight: bold;
}

#u1802-4
{
	line-height: 20px;
	color: #FCEE21;
}

#u1802-7
{
	line-height: 20px;
	color: #FFFFFF;
}

#u1802-5
{
	color: #FCEE21;
}

#u1918
{
	z-index: 139;
	width: 654px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.49);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.49);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.49);
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 31px 0px 31px 0px ;
	-webkit-border-radius: 31px 0px 31px 0px ;
	-khtml-border-radius: 31px 0px 31px 0px ;
	border-radius: 31px 0px 31px 0px ;
	margin-top: 23px;
	position: relative;
}

#u1805
{
	z-index: 141;
	width: 654px;
	height: 543px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-right: 9px;
	margin-right: -10000px;
	position: relative;
}

#pu189,#pu1806-6
{
	width: 0.01px;
	position: relative;
}

#u1806-6
{
	z-index: 142;
	width: 580px;
	min-height: 60px;
	color: #FFFF00;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 20px;
}

#u1807
{
	z-index: 148;
	width: 620px;
	height: 102px;
	position: relative;
	margin-right: -10000px;
}

#u1923
{
	z-index: 149;
	width: 654px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	background-color: transparent;
	-moz-border-radius: 0px 31px 0px 31px ;
	-webkit-border-radius: 0px 31px 0px 31px ;
	-khtml-border-radius: 0px 31px 0px 31px ;
	border-radius: 0px 31px 0px 31px ;
	margin-top: 7px;
	position: relative;
}

#u1850
{
	z-index: 151;
	width: 663px;
	height: 543px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1933
{
	z-index: 152;
	width: 628px;
	height: 411px;
	position: relative;
	margin-right: -10000px;
}

.ie #u1807,.ie #u1933
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1936-6
{
	z-index: 153;
	width: 580px;
	min-height: 60px;
	color: #FCEE21;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 9px;
}

#u1937
{
	z-index: 159;
	width: 654px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	background-color: transparent;
	-moz-border-radius: 0px 31px 0px 31px ;
	-webkit-border-radius: 0px 31px 0px 31px ;
	-khtml-border-radius: 0px 31px 0px 31px ;
	border-radius: 0px 31px 0px 31px ;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
}

#u1958
{
	z-index: 161;
	width: 663px;
	height: 521px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 22px;
	margin-right: -10000px;
	position: relative;
}

#u1964-6
{
	z-index: 162;
	width: 580px;
	min-height: 60px;
	color: #FCEE21;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 15px;
	position: relative;
}

#u1806-2,#u1936-2,#u1964-2
{
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
}

#u1806-4,#u1936-4,#u1964-4
{
	line-height: 20px;
}

#u1970
{
	z-index: 168;
	width: 663px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	background-color: transparent;
	-moz-border-radius: 0px 31px 0px 31px ;
	-webkit-border-radius: 0px 31px 0px 31px ;
	-khtml-border-radius: 0px 31px 0px 31px ;
	border-radius: 0px 31px 0px 31px ;
	margin-top: 25px;
	position: relative;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

